body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    font-family: Arial, sans-serif;
}

/* 별들이 반짝이는 게임 배경 */
.gameArea {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
    z-index: 1;
}


.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #fff;
    border-radius: 50%;
    animation: twinkle 2s infinite;
}

@keyframes twinkle {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    z-index: 2;
}

.modal.hidden {
    display: none;
}

.modal button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}

/* Button styling for .btn5 and its link/visited states */
#startButton,
#startButton:link,
#startButton:visited {
  border: none;
  outline: none;
  color: rgba(0, 0, 0, 0.8);
  background-color: #fff;
  border-radius: 3px;
  transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
}

/* Hover and focus effects for .btn5 */
#startButton:hover,
#startButton:focus {
  animation: gelatine 0.5s 1;
}

/* Keyframes for the gelatine animation */
@keyframes gelatine {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}


/* 점수 표시 스타일 */
#score {
    position: fixed;
    top: 10px;
    left: 10px;
    color: #fff;
    font-size: 24px;
    z-index: 3;
}

#rocket {
    position: absolute;
    width: 60px;
    height: 100px;
    background-image: url("/img/rocket.png");
    background-size: cover;
    z-index: 2;
    left: calc(50% - 25px);
    bottom: 10%;
}

#gameCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}